*{margin: 0;
    box-sizing: border-box;
}

body{color:#555555;
    background-color:#ffffff;
    font-family: 'Karla', sans-serif;
    font-weight:normal;
    line-height: 2em;
    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: (1, 1fr);
    grid-template-rows: (1, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
}

header{
    background-color: #f8729f;
    color:#ffffff;
    grid-area: "header";
}

nav{
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    background-color: #f8729f;
  }  
  li {
    float: left;
    align-items: center;
    display: block;
    flex-direction: row;

  }  
  li a {
    display: block;
    color: #555555;
    text-align: left;
    padding: 10px 10px;
    text-decoration: none;
}
a {color: #555555;
    text-decoration: none;
}

h1{
    padding: 10px;
    margin: 5px;
    align-items: center;
    font-size: 36px;
}

h2{
    padding: 10px;
    margin: 5px;
    font-size: 28px;
}

hr{ border-top: 5px solid #f8729f;
    border-bottom: none;
    width: 50%;
    margin: 20px auto 20px auto;
    padding: 0px;
    position: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}

p{  text-align: space-around;
    padding: 15px;
    margin: 10px;
}

.tekstblok{
    margin: 10px;
    border: 2px solid;
    border-radius: 5px;
}

img{
    width: 100%;
} 
.rond{
    width: 300px;
    height: auto;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}

.contactformulier {
    color:#555555;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    margin: 0px;
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: fit-content;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px;
    border: 2px solid #f8729f;
    background-color: #fac3d6; 
}    

textarea { 
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #f8729f;
    border-radius: 5px;
    background-color: #ffe1eb;             
}

label {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    flex:12;
    padding: 12px 5px 12px 0;
    align-self: center;
}

input { 
    width: 100%;
    height: 45px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #f8729f;
    border-radius: 5px;
    background-color: #ffe1eb; 
}    

button {
    background-color: #f8729f;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

footer{ 
    color: #ffffff;
    background-color: #f8729f;
    font-size: 12px;
    font-weight:normal;
    width: 100%;
    grid-area: "footer";
}

@media (min-width: 340px) and (max-width:766px) {
    .desktoponly {
        display: none;
    }
    .parent{
        background-color: #fad2e9;
    }
    

}   

@media (min-width: 768px) and (max-width: 1039px){
    .parent {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100px auto auto;
        grid-template-areas: 
        "h h m m m m m m m m m m"
        "h h m m m m m m m m m m"
        "h h f f f f f f f f f f"; 
    }
        header {
            grid-area: h;
        }
        main { 
            grid-area: m;
        }
        footer {
            grid-area:f;
        }
           
}    

@media screen and (min-width: 1040px) {
    .parent {
        height: 100%;
        background-color: #ffdce8;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto 120px;
        grid-template-areas: 
        "m m m m m m m m m m h h"
        "m m m m m m m m m m h h"
        "f f f f f f f f f f h h"; 
    }
        header {
            grid-area: h;
        }
        main { 
            grid-area: m;
        }
        footer {
            grid-area:f;
        } 
    header {
        float: right
    }    
          
    h1{ 
        font-size: 48px;
        padding: 50px;
        margin: 10px;
    }
    
    h2{
        font-size: 36px;
        padding: 20px;
        margin: 5px;
    }
    h3{
        font-size: 28px;
        padding: 20px;
    }
    
    p{
        font-size: 16px;
        padding-top: 25px;
        margin: 5px
    }

    li{
        width: 200px;
        display: flex;
        flex-direction: row;
    }
    a:hover {
        background-color: #fac3d6;
    }

    .containertop{ 
        position:relative;
        text-align: center;
        color:#555555; 
    }
    .teksttop{
        position: absolute;
        top: 15%;
        right: 10%;
    }  
    
    .tekstblokcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }

    .desktoponly{
        max-width: 500px;
        height: auto;
        align-items: left;
        margin-left: 5px; 
    }
    .adres { 
        position: relative;
        align-items: right;
        margin-right: 5px;
    }
    
   .imgcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }    
}    




